body {
    font-family: Arial, sans-serif;
    background-color: #f0efe9;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.caixa-principal {
    background: #fff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    width: 350px;
    text-align: center;
}

button {
    margin: 5px 0;
    padding: 10px;
    width: 100%;
    border: none;
    background-color: #5a7d7c;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    font-size: 15px;
}

button:hover {
    background-color: #446362;
}